.jumbotron{
    background-image: url("../img/background-image.png");
    height: 346px;
    background-size: cover;
}

.light-title{
    background-color: white;
    opacity: .7;
    width: 100%
}

.list-group-flush {
    margin-left: 10px;
}