/*CLASS TAGS*/
.page-wrapper{
    background-color:#3B94D9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*ID TAGS*/
#map {
    flex-grow: 1;
}

#header-container {
    color: white;
    background-color: #3B94D9;
}