/*
this file is named "site.css" and is in a directory named "css"
*/
body {
    background: url(/img/cinema.jpg);
    font-family: "Arial", sans-serif;
}

img{
    border-radius: 40%;
    border: 2px solid black;
}

h2 {
    font-family: "Times New Roman";
    color: black;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}
.section-header {
    color:red;
}

.vision-image {
    color:purple;
}

#section-heading {
    color:red;
}

.container-heading, #section-heading, {
    font-size: 10px;
}

.container-heading:nth-child(even){
    color:red;
}

#container h2{
    color:red;
}